name: Deploy to OVH
on:
  push:
    branches:
      - master
    tags:
      - v*.*.*

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: production
    name: raffaelelongoelia.dev deployment
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Generate static site
        run: npm run generate
        
      - name: Decode OVH_HOSTING_DOMAIN # Because it has '/' inside
        run: |
          OVH_HOSTING_DOMAIN=$(echo "${{ secrets.OVH_HOSTING_DOMAIN }}" | base64 --decode)
          echo "OVH_HOSTING_DOMAIN=$OVH_HOSTING_DOMAIN" >> $GITHUB_ENV
      - name: Deploy to OVH hosting
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: $OVH_HOSTING_DOMAIN
          username: ${{ secrets.OVH_HOSTING_USER }}
          password: ${{ secrets.OVH_HOSTING_PASSWORD }}
          local-dir: ./dist/
          server-dir: ${{ secrets.OVH_HOSTING_PATH }} # The remote directory on the server
          protocol: ftps # Change to 'ftps' for secure FTP if needed
